/*通用*/
.popBox-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .6;
    z-index: 999;
    background-color: #000;
}

.popBox-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

/*各个弹框下的样式可以自己更改*/
#popBox-demo .popBox-content {
    width: 600px;
    height: 400px;
    background-color: #fff;
    text-align: center;
}

#popBox-demo p {
    line-height: 400px;
    margin: 0;
}

#popBox-demo .btn-close {
    position: absolute;
    top: 10px;
    right: 20px;
    float: right;
}